/* HORIZONTALNI */

.cols, .left, .right, .center {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.nowrap {
    flex-wrap: nowrap;
}
.cols {
    justify-content: space-between;
}
.left {
    justify-content: flex-start;
}
.right {
    justify-content: flex-end;
}
.center {
    justify-content: center;
}

/* VERTIKALNI */

.up, .down, .vcenter {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.up {
    justify-content: flex-start;
}
.down {
    justify-content: flex-end;
}
.vcenter {
    justify-content: center;
}