.cols, .left, .right {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.nowrap {
    flex-wrap: nowrap;
}
.cols {
    justify-content: space-between;
}
.left {
    justify-content: flex-start;
}
.right {
    justify-content: flex-end;
}