#rectangles path {
    fill: white;
}
#rectangles:not(.active), #globe:not(.active) {
    display: none;
}
#other-pinned:not(.active), #map:not(.active) {
    display: none;
}
#map .close {
    display: none;
}
#map .card {
    padding: 0;
    margin: 0;
}
.gm-style-iw-c, .gm-style-iw-d {
    padding: 0 !important;
    max-height: unset !important;
    overflow: hidden !important;
}
#map {
    max-width: 1000px;
    height: 400px;
    margin: auto;
}
@media (max-width: 600px) {
    #map {
        height: 600px;
    }
}