body {
    margin: 0;
}
nav {
    display: flex;
    flex-flow: row nowrap;
    height: 4rem;
    background: lightgray;
}
nav h2 {
    display: table-cell;
    vertical-align: middle;
}
svg {
    padding-left: 1rem;
    height: 4rem;
}
svg path {
    fill:white;
}