@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.todo {
    background: darkcyan;
}
ul {
    margin: 0;
    list-style: none;
    text-indent: 0;
    padding: 0;
}
/* SAFARI ROUNDING HACK */
input:not([type="radio"]):not([type="checkbox"]) {
    -webkit-appearance: none;
    border-radius: 0;
}

h1,h2,h4 {
    font-family: 'Raleway';
}
* {
    font-family: 'Nunito';
}