body {
    background: lightskyblue;
}
#main-content {
    max-width: min(90%, 900px);
    margin: auto;
}
.favorite-container {
    max-width: 700px;
    margin: auto;
}
.favorite-container>* {
    margin-left:auto;
    margin-right:auto;
}
.name {
    overflow-x: auto;
}
.favorite-container h1, .favorite-container h4, .favorite-container h5 {
    text-align: center;
}
.favorite-container h5 {
    margin-bottom: 0.25rem;
}
.current-weather {
    min-width: 100px;
    max-width: 300px;
}
.favorite-container .weather-icon {
    display: block;
    margin: auto;
    width: 100px;
}
.prhu-container, .aqi-container {
    max-width: min(90vw, 300px);
    margin: auto;
}
.prhu-container span {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}
.aqi-container {
    margin-top: 10px;
    background: greenyellow;
    padding: 0.5rem 1rem;
}
.aqi-container, .hourly, .daily {
    border-radius: 20px;
}
.forecast {
    margin-top: 15px;
}
.hourly, .daily {
    
    border-radius: 20px;
    max-width: 90vw;
}
.hourly {
    padding: 5px 15px;
    overflow-x: auto;
}
.name::-webkit-scrollbar,.hourly::-webkit-scrollbar {    
    display: none;
}
.hourly>*:not(*:last-child){
    margin-right: 10px;
}
.hourly h5 {
    margin-top: 0;
}
.daily {
    position: relative;
    margin-top: 15px;
    padding: 5px 10px;
    width: 100%;
}
.daily img {
    height: 26px;
    position: absolute;
    left: 0;
    margin-left: 40%;
}
.daily, .hourly, .aqi-container {
    background-color: rgba(255, 255, 255, 0.5);
}
.daily h5 {
    margin: 0;
}
/* LOW I HIGH */
.daily .right>h5:not(h5:last-child) { 
    margin-right: 5px;
}
.daily>* {
    padding: 5px 10px;
}
.daily>*:not(div:last-of-type) {
    border-bottom: 1px solid white;
}
.current-weather {
    padding : 0 10px;
}

@media (max-width: 746px) {
    .current-weather {
        max-width: 90vw;
        padding: 0;
    }
}
@media (max-width: 310px) {
    .current-weather .name {
        font-size: 1.5rem;
    }
}

/* CARDS */

.other-pinned {
    margin-top: 30px;
}
.card .weather-icon {
    height: 60px;
}
.card .name {
    text-align: center;
}
.card h5, .card h3 {
    margin: 0.5rem 0;
}
.card {
    background: rgba(255, 255, 255, 0.5);
    padding: 0.25rem 1.5rem;
    border-radius: 20px;
    text-align: center;
    max-width: 90vw;
    margin: 5px;
}
.card > * {
    margin: auto;
}
.card>div:first-of-type {
    max-width: 90%;
}