nav {
    background: #333;
    color: white;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
nav svg {
    display: block;
    height: 60px;
}
nav #logo {
    padding: 0 10px;
}
#logo-mv {
    fill: #fff;
}
#logo-sun {
    fill: #fff;
}
nav svg {
    padding: 15px 10px;
}

nav #title {
    font-family: Inter, sans-serif;
    margin: 0;
}

nav input {
    border: none;
    outline: none;
    height: 30px;
}
#nav-search {
    padding: 0 10px;
    flex: 1 1 100px;
    max-width: 300px;
    position: relative;
}
#nav-search img {

    padding: 7px;
    height: 30px;
    flex: 0 0;
}
#nav-search input {
    min-width: 100px;
    padding-left: 7px;
    flex-grow: 4;
    flex-shrink: 4;
}
#nav-search img:first-of-type {
    background: #999;
    border-radius: 7px 0 0 7px;

}
#nav-search img:last-of-type {
    border-radius: 0 7px 7px 0;
}
#nav-search input, #nav-search img {
    background: white;
}
#autocomplete:not(.active) {
    display: none;
}
#autocomplete {
    position: absolute;
    top: 35px;
    left:0;
    right: 0;
    max-width: 250px;
    margin-left: 40px;
    margin-right: 10px;
    color: black;
    background: white;
    border: 1px solid black;
    border-radius: 7px;
    text-align: center;
}
#autocomplete li {
    padding: 5px 0;
    border-bottom: 1px solid black;
}
#autocomplete, #options-menu {
    z-index: 100;
}

@media (max-width: 585px) {
    #nav-search {
        order: 3;
        min-width: 100%;
        padding-bottom: 15px;
    }
    #autocomplete li {
        padding: 15px 0;
    }
}
@media (min-width: 586px) {
    nav svg:not(#logo):hover, #options-button.active {
        background: #444;
    }
}
@media (min-width: 760px) {
    #nav-search {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        width: 300px;
    }
}