#options-menu {
     padding: 15px;
     width: 400px;
     position: absolute;
     right: 0;
     background: #444;
     color: white;
}
#buttonDiv {
     margin: 5px 0;
}
/* Funkcijata renderbutton sozdava privremen div koj go
sodrzi kopceto za logiranje, koj potoa go zamenuva so
iframe. Bez ova svojstvo za moment se pojavuva pri loadiranje */
#buttonDiv > div > div:first-child{
     display: none;
}
#logoutDiv button {
     margin : 5px 0;
     padding : 2px;
}
#logoutDiv:not(.active), #buttonDiv:not(.active) {
     display: none;
}
#options-menu .flag {
     height: 25px;
     padding: 5px;
}
#options-menu fieldset {
     border: 0;
     margin: 0;
}
#options-menu legend {
     float:left;
     clear: both;
}
#options-menu input {
     vertical-align: middle;
     margin-top: -2.25px;
}
#options-menu h3, #options-menu p {
     margin: 0;
}
#options-menu * {
     padding: 0;
}
#options-menu:not(.active) {
     display: none;
}
#language input {
     display: none;
}
@media (max-width: 550px) {
     #options-menu {
          width: 100vw;
          max-width: 100vw;
          position: relative;
     }
}